.person_info1{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    
    }
    .person_name1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
    }
    .titre1{
    font-weight: 500;
    font-size: 1rem;
    }
    .buttonContainer1{
    
    }
    
    .tagName1{
    
    }
    
    .time1{
    display: flex;
    flex-direction: column;
    }
    
    .week1{
        color: grey;
        font-weight: 700;
        font-size: 0.7rem;
       
    
    }

    .paragraph1{
    
    
    }
    .avatar1{
    width: 65px;
    height: 60px;
    object-fit: contain;
    border: 1px solid rgb(240, 238, 238);
    border-radius: 100%;
    margin-right: 2rem;
    }
    .right1{
        width: 80%;
        background-color: turquoise;
        height: 100%;
    }
    .breadcrumbContainer{
        
        display: flex;
        justify-content: flex-end;
    }
    .linkStyle{
        color: grey;
    }
    .paginationContainer{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }